## Python Variable (Identifier)

- Variables in Python are like named containers that store data values. They are essential for storing information that your program needs to use.
- In Python, a variable is a name given to memory location.it's essentially a container that holds data. This data can be of various types, such as numbers, text, or more complex structures.

#### Multi Words Variable Names


##### Camel Case:

- Second and subsequent words are capitalized, to make word boundaries easier to see. (Presumably, it struck someone at some point that the capital letters strewn throughout the variable name vaguely resemble camel humps)
- Example: numberOfCollegeGraduates

##### Pascal Case:

- Identical to Camel Case, except the first word is also capitalized.- 
Example: NumberOfCollegeGraduates

##### Snake Case: 

- Words are separated by underscores.- 
Example: number_of_college_graduates

#### Key Points

- Dynamic typing : This means the same variable can hold different data types at different times during program execution.
- Assignment : Variables are assigned values using the equal sign (=).

### Rules For Variables

- Must start with a letter or underscore: my_variable, _secret are valid, but 123variable is not.
- Can contain letters, numbers, and underscores : age25, user_name are valid.
- Variables are not allowed Special Characters like @,$,&.. it's only accept under score (_)
- Case-sensitive : age and Age are different variables.
- Cannot be a reserved keyword : Avoid using Python keywords like if, else, for, etc.
- Cannot Start with Digit

##### Create 20 valid variable names

In [1]:
#valid Variables
age = 20
weight = 75.5
count = 10
name = "Devaraju"
city = "Hydrabad"
message = "Data Science"
is_student = True
has_car = False
fruits = ["Apple", "Banana", "Mango", "Kiwi"]
numbers_list = [1,2,3,4,5]
cooradiantes = (10,10)
personal_info = ("Deva",21,"Hydrabad")
person = {"name": "DEVA", "age": "20", "city": "Hydrabad"}
book = {"title": "Pyhton", "author": "Guido van Rossum"}
unique_numbers = {1,2,2,3,3,4}
vowels = {"a", "e", "i", "o", "u"}
deva = {"Academy": "Teks Academy", "Coursename": "Data Science", "Lecturer":"Vamsi Sir"}
name_of_college = "SAI TIRUMALA NVR ENGINEERING COLLEGE"
teks_academy_143 = "Vamsi Sir"
set_123 = {52, 71,83}

print(age)
print(weight)
print(count)
print(name)
print(city)
print(message)
print(is_student)
print(has_car)
print(fruits)
print(numbers_list)
print(cooradiantes)
print(personal_info)
print(person)
print(book)
print(unique_numbers)
print(vowels)
print(deva)
print(name_of_college)
print(teks_academy_143)
print(set_123)

20
75.5
10
Devaraju
Hydrabad
Data Science
True
False
['Apple', 'Banana', 'Mango', 'Kiwi']
[1, 2, 3, 4, 5]
(10, 10)
('Deva', 21, 'Hydrabad')
{'name': 'DEVA', 'age': '20', 'city': 'Hydrabad'}
{'title': 'Pyhton', 'author': 'Guido van Rossum'}
{1, 2, 3, 4}
{'i', 'o', 'u', 'a', 'e'}
{'Academy': 'Teks Academy', 'Coursename': 'Data Science', 'Lecturer': 'Vamsi Sir'}
SAI TIRUMALA NVR ENGINEERING COLLEGE
Vamsi Sir
{83, 52, 71}

#### Create 20 invalid variable names

In [2]:
1st_name = "John" 
-age = 30  
my-variable = "hello"
my variable = "world"
class = "Python" 
for = 10 
while = True 
if = False
def = "function"  
return = "value"  
import = "module"  
from = "package" 
global = "scope"
nonlocal = "scope" 
lambda = "function" 
try = "exception" 
except = "error"  
finally = "always" 
raise = "exception"
@my-var = "deva"
$FRUITS = "Apple"

SyntaxError: invalid decimal literal (3541106275.py, line 1)

#### type function()

- The type() function is mostly used for debugging purposes. Two different types of arguments can be passed to type() function, single and three arguments. If a single argument type(obj) is passed, it returns the type of the given object. If three argument types (object, bases, dict) are passed, it returns a new type object.

In [3]:
a = 71
b = "Data Science"
my_tuple = ('apple', 'banana', 'cherry')
d = 3.14
my_list = [1,2,3,4]
my_dict = {"name": "Sakku", "age": 20}
my_set = {1, 2, 3}
print(type(a))
print(type(b))
print(type(my_tuple))
print(type(my_dict))
print(type(my_set))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Multiple Variable

##### Many Values to Multiple Variables

- Python allows you to assign values to multiple variables in one line:

In [4]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

##### One Value to Multiple Variables

- And you can assign the same value to multiple variables in one line:

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange