## Python Operators

 - Operators are used to perform operations on variables and values.
 - In the example below, we use the + operator to add together two values:

In [1]:
print(10 + 4)

14

Python divides the operators in the following groups:

 - Arithmetic operators
 - Assignment operators
 - Comparison operators
 - Logical operators
 - Identity operators
 - Membership operators
 - Bitwise operators

### Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

 | Operators     |        Name                          |        Description               |                  Syntax  |
 |---------------|--------------------------------------|----------------------------------|---------------------------|
 |    +          | Addition Operator	                | Addition: adds two operands      |                  a + b    |
 |   -	         |  Subtraction Operator	            |   Subtraction: subtracts two operands |                 a - b|
 |   *           |Multiplication Operator             | Multiplication: multiplies two operands  |              a * b |
 | /           | Division Operator                  |   Division (float): divides the first operand by the second         |          a / b |                                                          
 | %             |  Modulus Operator                |  Modulus: returns the remainder when the first operand is divided by the second|   a % b |
 |  //	      | Floor Division Operator             |    Division (floor): divides the first operand by the second    |          a // b |                                                        
| **          | Exponentiation Operator           | Power (Exponent): Returns first raised to power second |      a ** b  |

#### Addition

In [133]:
# Addition
#1.
a = 34
b = 45
c = a + b
print(c)

79

In [12]:
#2.
a = 648
b = 463
c = a + b
print(c)

1111

In [13]:
#3.
a = 4533
b = 4673
c = a + b
print(c)

9206

In [14]:
#4.
a = 45328
b = 98735
c = a + b
print(c)

144063

In [15]:
#5.
a = 7114
b = 5152
c = 8361
d = a + b + c
print(d)

20627

#### Subtraction

In [16]:
# Subtraction
#1.
a = 9875
b = 3562
c = a - b
print(c)

6313

In [17]:
#2.
a = 7114
b = 5152
c = a - b
print(c)

1962

In [18]:
#3.
a = 24162
b = 98536
c = a - b
print(c)

-74374

In [19]:
#4.
a = 98468
b = 15273
c = a - b
print(c)

83195

In [20]:
#5.
a = 46738
b = 77378
c = 97388
d = a - b - c
print(c)

97388

#### Multiplication

In [21]:
#1.
a = 456
b = 877
c = a * b
print(c)

399912

In [22]:
#2.
a = 563
b = 352
c = a * b
print(c)

198176

In [24]:
#3. 
a = 4636
b = 4786
c = a * b
print(c)

22187896

In [25]:
#4.
a = 9886
b = 90739
c = a * b
print(c)

897045754

In [26]:
#5.
a = 56789
b = 33778
c = a * b
print(c)

1918218842

#### Division

In [39]:
#1.(It Returns Quotient)
a = 8776
b = 765
c = a / b
print(c)

11.471895424836601

In [29]:
#2.
a = 46634
b = 876
c = a / b
print(c)

53.2351598173516

In [42]:
#3.
a = 5653
b = 3527
c = a / b
print(c)

1.6027785653529911

In [31]:
#4.
a = 467383
b = 4883
c = a / b
print(c)

95.71636289166496

In [32]:
#5.
a = 3722
b = 4727
c = a / b
print(c)

0.7873915802834779

#### Modulus

In [38]:
#1.(It Returns Remainder)
a = 474
b = 123
c = a % b
print(c)

105

In [34]:
#2.
a = 9866
b = 193
c = a % b
print(c)

23

In [35]:
#3.
a = 74883
b = 4563
c = a % b
print(c)

1875

In [36]:
#4.
a = 58473
b = 4837
c = a % b
print(c)

429

In [37]:
#5.
a = 47338
b = 3822
c = a % b
print(c)

1474

#### Floor Division

In [190]:
#1.remoe the decimal points on quotient
a = 8776
b = 765
c = a // b
print(c)

11

In [41]:
#2.
a = 563
b = 352
c = a // b
print(c)

1

In [43]:
#3.
a = 5653
b = 3527
c = a // b
print(c)

1

In [44]:
#4.
a = 467383
b = 4883
c = a // b
print(c)

95

In [45]:
#5.
a = 3722
b = 4727
c = a // b
print(c)

0

### Python Assignment Operators

Assignment operators are used to assign values to variables:

| Operators       |         Name           |                  Description                    |                           Syntax  |
|-----------------|------------------------|-------------------------------------------------|-----------------------------------|
|    =	          |  Assignment Operator	| Assign the value of the right side of the expression to the left side operand|      c = a + b |
| +=	       | Addition Assignment Operator	 |   Add right side operand with left side operand and  then assign the result to left operand | a += b|
| -=   | Subtraction Assignment Operator |Subtract right side operand from left side operand and then assign the result to left operand|   a -= b |
| *= |   Multiplication Assignment Operator | Multiply right operand with left operand and then assign the result to the left operand|   a *= b |        |/=|	       Division Assignment Operator	|   Divide left operand with right operand and then assign the result to the left operand |  a /= b |
|  %= |Modulus Assignment Operator  |    Divides the left operand with the right operand and then assign the remainder to the left operand |  a %= b
 | **=|   Exponentation Assignment Operator| Calculate exponent(raise power) value using operands and  then assign the result to left operand | a **= b|

#### Assignment Operator

In [59]:
#1.
a = 3
b = 5
c = a + b 
print(c)

8

In [60]:
#2.
a = 337
b = 537
c = a - b 
print(c)

-200

In [61]:
#3.
a = 93562
b = 533
c = a * b 
print(c)

49868546

In [62]:
#4.
a = 32738
b = 5282
c = a / b 
print(c)

6.1980310488451344

In [63]:
#5.
a = 3
b = 5
c = a ** b 
print(c)

243

#### Addition Assignment Operator

In [47]:
#1.
a = 3
b = 5
a += b
print(a)

8

In [49]:
#2.
a = 67
b = 80
a += b
print(a)

147

In [50]:
#3.
a = 9842
b = 53562
a += b
print(a)

63404

In [51]:
#4.
a = 2562
b = 3892
a += b
print(a)

6454

In [52]:
#5.
a = 390963
b = 536728
a += b
print(a)

927691

#### Subtraction Assignment Operator

In [54]:
#1.
a = 3
b = 5
a -= b
print(a)

-2

In [55]:
#2.
a = 96746
b = 5367
a -= b
print(a)

91379

In [56]:
#3.
a = 46433
b = 29473
a -= b
print(a)

16960

In [57]:
#4.
a = 33672
b = 53677
a -= b
print(a)

-20005

In [58]:
#5.
a = 12000
b = 56382
a -= b
print(a)

-44382

#### Multiplication Assignment Operator

In [83]:
#1.
a = 3
b = 5
a *= b 
print(a)

15

In [84]:
#2.
a = 3348
b = 538
a *= b 
print(a)

1801224

In [85]:
#3.
a = 3933
b = 5373
a *= b 
print(a)

21132009

In [86]:
#4.
a = 9283
b = 3522
a *= b
print(a)

32694726

In [87]:
#5.
a = 92902
b = 5237
a *= b 
print(a)

486527774

#### Division Assignment Operator

In [71]:
#1.
a = 3
b = 5
a /= b
print(a)

0.6

In [72]:
#2.
a = 37822
b = 5373
a /= b
print(a)

7.0392704262051

In [73]:
#3.
a = 27283
b = 53829
a /= b
print(a)

0.506845752289658

In [74]:
#4.
a = 9273
b = 5372
a /= b
print(a)

1.7261727475800446

In [75]:
#5.
a = 3822
b = 5482
a /= b
print(a)

0.6971908062750821

#### Modulus Assignment Operator

In [76]:
#1.
a = 3
b = 5
a %= b
print(a)

3

In [77]:
#2.
a = 2822
b = 537
a %= b
print(a)

137

In [88]:
#3.
a= 9374
b = 3727
a %= b
print(a)

1920

In [89]:
#4.
a = 38738
b = 5373
a %= b
print(a)

1127

In [90]:
#5.
a = 36738
b = 38292
a %= b
print(a)

36738

#### Exponentiation Assignment Operator

In [96]:
#1.
a = 3
b = 5
a **= b
print(a)

243

In [92]:
#2.
a = 27
b = 57
a **= b
print(a)

3870210234510307998744588107535211184800325224934979257430349324033792477926791547

In [93]:
#3.
a = 935
b = 526
a **= b
print(a)

443513985278282536833905082375255995479832070823076463484760253227640895825686841619082134466314000174919808530811000827216418012762378736629726192002353576847859398560117180990389284438145763019173970743224478463921803952071424969251738597159974680920020800247935107779693467586725763309982974752293802108498054443742264078662979299016204072561539685612561699715281689885244486428418829957941235394723570518501442375566204244515997880326680220636351675619929820561973659382959192821178022031290804750979939728215271804720428542329795239261869668875978226322624043658232190887873503441742843996208924305782895297306081111997100458865748631797009588579005335846959894013181447443056384811433148199950729838820766715251703440888829496884934329688624574303564075380893271102760809645286451863335948455282887996963126705274589250545891512107376514300699532761745604967719390950030626653999354325071723473578758232049123686600401199398159833253228687371906554991500532990745151244906086927881999076255283652164078693722983659512015312379488002044779304782671688803532273879273027279830209619736777886408198857530961448632394365688963217022007066670496704324078149848235237053704458585220308129840718439288147492899704063824638561610234671980482771053825046060283828535677364451390805148048348630895581850568457174713325045961510025284606501198284539882904900069334159183649098292599937630893166095636225769637929406518894402427708575027585093841339549999535815861835922165743407892592891828255482677156268308238100757910716610311896435092648971476592123508453369140625

In [94]:
#4.
a = 256
b = 232
a **= b
print(a)

5148396096422391593693210985222689424575005282213296071655104164476572739631099228161281473378140200867014462091313754559770129599777987619078360817109726631408021465198022633853290201484467517254546983876930815720308649330475055891564430659129037097735228607981843261092469845862172555291591327620036527203133607737436305275456546467854421442630307204742014599120541028722230009317555919882603333939040716401071881068550646151042155300738685084368882435784187259732769690034514690345650083715716347735355293911309377516344880570376602323151670492827207335936

In [95]:
#5.
a = 936
b = 835
a **= b
print(a)

1035937838471782389599809713742680377188758355723619847482859855782866868051732893185905779887306061924649377253872430722300348542929218809265101473274996284160923943579854463183488199579514888396877672326256590869996819307650855704499302379954841653481356184870287327469057673429813381283663356129896666552929987443790257766259872870250956483767363035103207496835444368020921958105725704695254514117689634949935480280597547731341809400037503091099316573778786404925222003737091868282869598931523161729003372134044553145141105384525103487867735143133332053753500785508195897387655797418509597755330457458722882010281678667363806109378015301117454582172283210158057741311787765576859153162458331519045717524237923496436316391726100803698309889848427358045405715314889356599379612224970550047757463014190282208146131962578362530138146983948587596785448603295244887422586395126446388673265727572046392821079122848047174663604630558452621451607405261550549651419953443464457633839092313477421947689616770440893058143337044826004138273852232741844487072274037034177541657088109444337204853839673033654215333008936338405312014469943629561904101190637042600228513728075510580165965178457644469469183760533135746191850318791579350225134946072220265491585711525436130454739815036082286279127075907862402165828715724639544363215385123164038838463157105679945860367749020411677264812843531549727665082910192928740521216485109541565950327305947308507422466531013789587876607832275301910945929044018584919530014364820678321593217663522492951602432891320943339950865447878517324799365358190855071902843734176529679955927914094206864773620837891209086577155667744706743317169230468776548402540045434767932232651115827889414887037840532286953826635305283881839513229574180229598408972800048972102152508090927924424665811779920525758733536611252770904512811354463844398830676189519537799047689169899183501708906026156908418971970393112038024733020298862913780476509997443347203363589760280916450403018398827348021728606777567978109710247453801944367004851399434013523792543824653053141118050715118107185611843962754217384931337410975948896362023463718255282951312472384350196235728046541400921482753667384996908040872191881885139524137338432134347092087602058678895807963298329466989423135586193208413902002727003652459547847568061890202555144673523334346458629537299558145986910657943630289660023996525855770916232056919772711647039743743767162690985634412465628859867109857073206783925330668158976

### Python Comparison Operators

Comparison operators are used to compare two values/variables and return a boolean result : True or False

|   Operators    |         Name               |                 Description                     |                    Syntax   |
|----------------|----------------------------|-------------------------------------------------|-----------------------------|
| ==           |  Equality Operators	   |         Equal to: True if both operands are equal         |               a == b  |
| !=	      |  Inequality Operators	     |       Not equal to: True if operands are not equal       |              a != b  |
|    >         |   Greater than  |  Greater than: True if the left operand is  greater than the right   |                      a > b  |
|    <	      | Less than     |   Less than: True if the left operand is less than the right  |                          a < b |
|    >=	   |  Greater than or Equal to	|Greater than or equal to: True if left operand is greater than or equal to the right  |     a >= b |
|   <=      | Less than or Equal to   | Less than or equal to: True if left operand is less than or equal to the right   |            a <= b|

#### Equality Operators

In [97]:
#1.
a = 9
b = 5
c = 9
print(a == b)
print(a == c)

False
True

In [98]:
#2.
a = 36
b = 35
c = 36
print(a == b)
print(a == c)

False
True

In [99]:
#3.
a = 777
b = 373
c = 777
print(a == b)
print(a == c)

False
True

In [100]:
#4.
a = 111
b = 111
c = 111
print(a == b)
print(b == c)
print(a == c)

True
True
True

In [101]:
#5.
a = 4783
b = 383
c = 4783
print(a == b)
print(a == c)

False
True

#### Inequality Operators

In [102]:
#1.
a = 9
b = 5
c = 9
print(a != b)
print(a != c)

True
False

In [103]:
#2.
a = 47
b = 37
c = 48
print(a != b)
print(b != a)
print(a != c)

True
True
True

In [104]:
#3.
a = 5645
b = 5645
c = 5645
print(a != b)
print(b != c)
print(a != c)

False
False
False

In [105]:
#4.
a = 988
b = 536
c = 988
print(a != b)
print(a != c)

True
False

In [108]:
#5.
a = 53745
b = 53745
c = 3467
print(a != b)
print(a != c)

False
True

#### Greater than

In [110]:
#1.
a = 9
b = 5
print(a > b)
print(b > a)

True
False

In [111]:
#2.
x = 5
y = 3

print(x > y)

True

In [112]:
#3.
a = 383
b = 473

print(a > b)

False

In [113]:
#4.
d = 4737
e = 3622
print(d > e)

True

In [114]:
#5.
a = 39284
b = 4563
c = 3723
print(a > b)
print(b > a)
print(a > c)
print(c > a)

True
False
True
False

#### Less than

In [115]:
#1.
a = 9
b = 5
print(a < b)
print(b < a)

False
True

In [116]:
#2.
a = 9648
b = 54783
print(a < b)
print(b < a)

True
False

In [117]:
#3.
a = 94674
b = 25373
print(a < b)

False

In [118]:
#4.
x = 5
y = 3
print(x < y)

False

In [120]:
#5.
a = 4882
b = 93574
c = 2783
print(a < b)
print(b < a)
print(a < c)
print(c < a)

True
False
False
True

#### Greater than or Equal to

In [121]:
#1.
a = 9
b = 5
c = 9
print(a >= b)
print(a >= c)
print(b >= a)

True
True
False

In [122]:
#2.
x = 5
y = 3

print(x >= y)

True

In [123]:
#3.
a = 4884
b = 9363
c = 463
print(a >= b)
print(a >= c)
print(b >= a)

False
True
True

In [124]:
#4.
x = 4743
y = 2723
print(x >= y)

True

In [125]:
#5.
a = 4884737
b = 9363367
c = 46336
print(a >= b)
print(a >= c)
print(b >= a)
print(c >= a)

False
True
True
False

#### Less than or Equal to

In [126]:
#1.
x = 5
y = 3

print(x <= y)

False

In [127]:
#2.
a = 9
b = 5
c = 9
print(a <= b)
print(a <= c)
print(b <= a)

False
True
True

In [128]:
#3.
a = 3737
b = 3788
print(a <= b)

True

In [129]:
#4.
x = 3783
y = 3665
print(x <= y)

False

In [130]:
#5.
a = 9734
b = 5385
c = 9236
print(a <= b)
print(a <= c)
print(b <= a)
print(b <= c)

False
False
True
True

### Python Logical Operators

 - Logical Operators are used to check whether an expression is True or False
 - Python Logical Operators are used to combile two or more conditions and check the final result
 - Logical operators are used to combine conditional statements:

|  Operator        |    Description       |           Syntax         |        Example  |
|------------------|----------------------|--------------------------|-----------------|
|       and 	    | Returns True if both the operands are true |          x and y      |        x>7 and x>10 |
| or    |   Returns True if either of the operands is true  |        x or y         |      x<7 or x>15  |
| not    |  Returns True if the   operand is false |             not x            |   not(x>7 and x> 10)  |

#### 'and' operator

A and B Gives True if both the booleans are True Else, it gives False

|     A   |      B      |    and   |
| ------- | ----------- | --------- |
| True    |   True      |   True    |
| True    |   False     |   Fasle   |
| False   |   True      |   False   |
| False   |   False     |   False   |

In [137]:
#1.
print(True and True)

True

In [138]:
#2.
print((2<3) and (1<2))

True

In [139]:
#3.
print((5<9) and (56<78))

True

In [140]:
#4.
print((5 > 3) and (15 < 6))

False

In [141]:
#5.
print(567<986 and 465 < 825)

True

#### 'or' operator

A or B Gives True if any one of the booleans are True Else, it Gives False

|     A   |      B      |    or    |
| ------- | ----------- | --------- |
| True    |   True      |   True    |
| True    |   False     |   True    |
| False   |   True      |   True    |
| False   |   False     |   False   |

In [142]:
#1.
print((True)or(False))

True

In [143]:
#2.
print((2<3)or(2<1))

True

In [144]:
#3.
print((5 > 1) or (10 < 4))

True

In [145]:
#4.
print((45>34) or (654<346))

True

In [146]:
#5.
print((766<345) or (4536<1242))

False

#### 'not' Operator

not(A)
Gives the Opposite value

|     A   |    not   |
| ------- | --------- |
| True    |   False      |  
| False    |   True     |

In [148]:
#1.
print(not(False))

True

In [149]:
#2.
print(not(2 < 1))

True

In [150]:
#3.
print(not(2<3))

False

In [151]:
#4.
print(4<5) and (not(1 != 1))

True

In [153]:
#5.
print(364>243) and (not(34 != 46))

True

### Python Identity Operator

 - Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
 - Identity whether the value is present or not

|  Operator              |       Description                 |         Syntax             |
|------------------------|-----------------------------------|----------------------------|
|  is	              | Returns True if both variables  are the same object |           x is y  |
| is not              | Returns True if both variables  are not the same object |          x is not y |

In [154]:
#is

x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello World'
print(x1 is y1)

True

In [155]:
print(y1 is x2)

False

#### is

In [156]:
#1.
x = [1, 2, 3]
y = x 
print(x is y)

True

In [157]:
#2.
x = [1, 2, 3]
y = [1, 2, 3]  

print(x is y)

False

In [159]:
#3.
a = 10
b = 10

print(a is b)

True

In [161]:
#4.
a = "hello"
b = "hello"

print(a is b)

True

In [162]:
#5.
a = None
b = None
print(a is b)

True

#### is not

In [163]:
#1.
list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 is not list2)

True

In [164]:
#2.
result = None

if result is not None:
    print("Result exists.")
else:
    print("Result is None.")

Result is None.

In [165]:
#3.
x = 100
y = "100"

print(x is not y)

True

In [166]:
#4.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

print(tuple1 is not tuple2)

True

In [167]:
#5.
class Singleton:
    pass

obj1 = Singleton()
obj2 = Singleton()

print(obj1 is not obj2)

True

### Python Membership Operators

 - Membership operators are used to test if a sequence is presented in an object:
 - They are used to test whether a value or variable is found in a sequence or not

|     Operator         |             Description         |                    Syntax             |
|---------------------|----------------------------------|----------------------------------------|
| in	   |     Returns True if a sequence with the specified value is present in the object |       x in y |
|  not in  |           Returns True if a sequence with the   specified value is not present in the object  |             x not in y  |

In [169]:
x = "Hello world"
y = [1,2,3,4,5,6]
print('W' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

False
True
True
False

#### in

In [170]:
#1.
fruits = ['apple', 'banana', 'cherry']

print('banana' in fruits)

True

In [171]:
#2.
text = "hello world"

print('h' in text)

True

In [172]:
#3.
student = {'name': 'John', 'age': 25, 'grade': 'A'}

print('name' in student)

True

In [173]:
#4.
numbers = (1, 2, 3, 4, 5)

print(3 in numbers)

True

In [174]:
#5.
vowels = {'a', 'e', 'i', 'o', 'u'}

print('e' in vowels)

True

#### not in

In [175]:
#1.
fruits = ['apple', 'banana', 'cherry']

print('grape' not in fruits)

True

In [176]:
#2.
text = "hello world"

print('z' not in text)

True

In [177]:
#3.
student = {'name': 'John', 'age': 25, 'grade': 'A'}

print('address' not in student)

True

In [178]:
#4.
numbers = (1, 2, 3, 4, 5)

print(6 not in numbers)

True

In [179]:
#5.
vowels = {'a', 'e', 'i', 'o', 'u'}

print('b' not in vowels)

True

### Python Bitwise Operators

 - Bitwise Operator act on operands as ifthey were strings of binary digits.They operate bit by bit, hence the name
 - Bitwise operators are used to compare (binary) numbers:
 - for example, 2 is 10 in binary and 7 is 111

|    Operators   |          Name                     |           Description                  |                  Syntax   |
|----------------|-----------------------------------|----------------------------------------|---------------------------|
|   & 	         |    AND                        | 	 Sets each bit to 1 if both bits are 1	  |                       x & y  |
|    I	         |     OR	               |     Sets each bit to 1 if one of two bits is 1   |                 	 x I y   |
|  ^             |      XOR	             |   Sets each bit to 1 if only one of two bits is 1	|                 x ^ y  |
|   ~             |      NOT	           |                  Inverts all the bits	             |             ~x   |
|   <<	        |    Zero fill left shift  |         Shift left by pushing zeros in from the right and let the leftmost bits fall off |  x << 2 |
|    >>      | Signed right shift  |Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost   bits fall off | x >> 2|

In [181]:
# AND

print(6 & 3)

#  6 = 0110
#  3 = 0011
#  ----------
#  2 = 0010

2

In [182]:
# OR

print(6 | 3)

#  6 = 0110
#  3 = 0011
#  ----------
#  7 = 0111

7

In [184]:
# XOR

print(6 ^ 3)

#  6 = 0110
#  3 = 0011
#  ----------
#  5 = 0101

5

In [186]:
# NOT 
print(~3)

# ((n+1)*-1)

-4

In [189]:
# << Left Shift
print(31 << 2)

# 32 16 8 4 2 1
# 1 0 0 0 0 1 
# add 2 elements

124

In [188]:
# >> Right Shifht

print(555 >> 5)

# 1 0 0 0 1 0 1 0 1 1
# remove 5 elements
# 17

17

### Operator Precedence

Operator precedence describes the order in which operations are performed

|     Operator                     |                Description    |
|----------------------------------|--------------------------------|
|        ( )                        	|   Parentheses   |
|        **	                         |  Exponentiation  |
|  +x  -x  ~x	                 |  Unary plus, unary minus, and bitwise NOT  |
|    *  /  //  %	             |      Multiplication, division, floor division, and modulus   |
|   +  -	                      |     Addition and subtraction    |
|    <<  >>                       |     Bitwise left and right shifts   |
|    &                           |    Bitwise AND   |
|   ^	                        |   Bitwise XOR  |
|   |	                        |   Bitwise OR   |
|   ==  !=  >  >=  <  <=   is  is not  in  not in  |    Comparisons, identity, and membership operators  |
|   not	                    |       Logical NOT    |
|   and	                    |        AND  |
|   or                      |         OR   |