## Python Lists

 - It is commonly used data type that represents an ordered, mutable(modifiable) and iterable sequence of elements
 - List are used to strore collections of items, and these items can be of any data type, including numbers, strings, or even other Lists
 - Lists are defined using square brackets [ ] and elemts are seperated by commas(,).

#### Creation of Lists:

In [1]:
my_list = []
numbers = [1,2,3,4,5]
names = ["Apple", "Banana", "Mango"]
mixed_types = [1, "Apple", 3.14, True]

print(type(mixed_types))
print(type(numbers))

<class 'list'>
<class 'list'>

#### Access List Elements

- In Python, Lists are orderd and each item in a list is associated with a number. The number is known as a list index.
- The index of the first element is 0, second element is 1 and so on.
- Python allows negitive indexing for its sequences.
- The index of -1 referes to the last item, -2 to the second last item and so on.

In [2]:
# Positive indexing
language = ["Python", "Swift", "C++", "C"]
print(language[0])
print(language[2])

Python
C++

In [3]:
# Negitive indexing
names = ["deva", "sakku", "ajay", "gopal"]
print(names[-1])
print(names[-4])

gopal
deva

#### Slicing of a List

In Python, it is possible to access a portion of a list using the slicing Operator:

In [4]:
my_list = ['E','t','a','c','k','e','g','A','h','o','j','s','M','o','u','n','i','y']
print(my_list[2:14])

['a', 'c', 'k', 'e', 'g', 'A', 'h', 'o', 'j', 's', 'M', 'o']

In [5]:
print(my_list[:10])

['E', 't', 'a', 'c', 'k', 'e', 'g', 'A', 'h', 'o']

In [6]:
print(my_list[7:])

['A', 'h', 'o', 'j', 's', 'M', 'o', 'u', 'n', 'i', 'y']

In [7]:
print(my_list[:])

['E', 't', 'a', 'c', 'k', 'e', 'g', 'A', 'h', 'o', 'j', 's', 'M', 'o', 'u', 'n', 'i', 'y']

In [9]:
print(my_list[-10:-1])

['h', 'o', 'j', 's', 'M', 'o', 'u', 'n', 'i']

### List Operations

List Contain Two types of Operations.
   1. Concatenation
   2. Repetition

#### Concatenation

In [12]:
# Adding Two lists 
a = [1,2,3]
b = [1,4,5,6,3,9]
c = a + b
print(c)

[1, 2, 3, 1, 4, 5, 6, 3, 9]

#### Repetition

In [13]:
# Repete the values at multiple times
a = [3,5,2,1,0,9]
b = a * 14
print(b)

[3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9, 3, 5, 2, 1, 0, 9]

### Change List items

To change the values of a specific item, refer to the index number.

In [15]:
list = ["apple", "banana", "cherry"]
print(list)
list[0] = "Water melon"
print(list)

['apple', 'banana', 'cherry']
['Water melon', 'banana', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:4] = ["blackcurrant", "water melon", "Ght"]
print(thislist)

['apple', 'blackcurrant', 'water melon', 'Ght', 'kiwi', 'mango']

In [18]:
thislist[1:4] = ["blackcurrant", "water melon"]
print(thislist)

['apple', 'blackcurrant', 'water melon', 'mango']

In [23]:
thislist[1:4] = ["blackcurrant", "water melon", "Ght", "Highway", "deva"]
print(thislist)

['apple', 'blackcurrant', 'water melon', 'Ght', 'Highway', 'deva', 'Highway', 'deva', 'kiwi', 'mango']

## List Methods

Python has a set of built-in methods that you can use on lists.

|       Method	    |      Description   |
|-------------------|--------------------|
|   append()      |    Adds an element at the end of the list  |
|   extend()	  | Add the elements of a list (or any iterable), to the end of the current list  |
|   insert()    |	Adds an element at the specified position  |
|   remove()	|  Removes the item with the specified value  |
|   pop()	  |  Removes the element at the specified position  |
|  index()  |	Returns the index of the first element with the specified value  |
|  count()	 |Returns the number of elements with the specified value  |
|  sort()  |  	Sorts the list in a ascending order  |
|  reverse()	 |   Reverses the order of the lists the list  |

### 1. append( ):

To add an item to the end of the list, use the append() method:

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### 2. extend( ):

To append elements from another list to the current list, use the extend() method.

In [2]:
thislist = ["apple", "banana", "cherry"]
fruits = ["mango", "pineapple", "papaya"]
thislist.extend(fruits)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### 3. insert( ):

To insert a list item at a specified index or position, use the insert() method.

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### 4. remove( ):

Removes the first occurance of a value, The remove() method removes the specified item.

In [3]:
thislist = ["apple", "banana", "cherry","banana"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana']

### 5. pop( ):

The pop() method removes the specified index, Removes and returns an elements at a specified index.

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### 6. index( ):

Returns the index of the first occurance of a value

In [32]:
names = ["deva","mouni","ajay","sakku","mouni","deva","gopal"]
index = names.index("mouni")
print(index)

1

In [33]:
numbers = [10,20,50,40,30,60,20,30]
index = numbers.index(30)
print(index)

4

### 7. count( ):

Returns the number of occurances of a value.

In [35]:
text = "hello world, hello everyone"
count_hello = text.count("hello")
print(count_hello)

2

In [36]:
numbers = [1,2,3,2,4,2,6,7,9,6,0,2,3,4]
count = numbers.count(2)
print(count)

4

#### 8. sort( ):

Sorts the list in a ascending order

In [37]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [38]:
numbers = [1,2,3,2,4,2,6,7,9,6,0,2,6,4]
numbers.sort()
print(numbers)

[0, 1, 2, 2, 2, 2, 3, 4, 4, 6, 6, 6, 7, 9]

#### Sort Descending
To sort descending, use the keyword argument reverse = True:

In [39]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [62]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

### 9. reverse( ):

Reverses the order of elements in the list

In [43]:
my_string = "Hello, World!"
reversed_string = my_string[::-1]
print(reversed_string)

!dlroW ,olleH

In [44]:
numbers = [6,0,2,6,4,8,6,0]
numbers.reverse()
print(numbers)

[0, 6, 8, 4, 6, 2, 0, 6]

|   Operator        |             Description  |
|------------------|---------------------------|
|   copy()         |     Returns a shallow copy of the list.  |
|   del()       |         The del keyword also removes the specified index.  |
|  clear()        |      The clear() method empties the list.  |

#### 1. copy( ):

Returns a shallow copy of the list.

In [45]:
my_list = [1, 2, 3, 5]
new_list = my_list.copy()
print(new_list)

[1, 2, 3, 5]

#### 2. del( ):

The del keyword also removes the specified index:

In [55]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist

#### 3. clear( ):

The clear( ) method empties the list.
The list still remains, but it has no content.

In [60]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]