## LOOP Statements

### While

- It is used to run a Block Code unit with a Certain Condition is met.
- A while loop Evaluates the Condition.
- If the Condition Evalues to True the Inside while loop is Executed.
- The process Continues until the Condition is False.

### Syntax

While Condition : body of While lopp.

### Examples

In [15]:
i=20
while i<=100:
    print(i)
    i=i+20

20
40
60
80
100

### For loop

- It is used for Iterating over a sequence

### Syntax

for value in Sequence : # Statement

### Example

In [23]:
i=[10,20,30,40,50,60]
for j in i:
    print(j)

10
20
30
40
50
60

In [27]:
p="PASHA"
for r in p:
    print(r)

P
A
S
H
A

### By Using for loop

- program for leap year are no leap year.
- program to find given numbers even are odd.
- program for list is empty or not.
- program to find Grade of as student 
- check weather given word is palindrome are not
- to find smallest among three numbers
- to find second largest no in list
- calculate BMI and categorize it 
- to check vote aligible
- to find person age group.

In [154]:
num=int(input("Enter a year:"))
for i in num:
    if year % 4==0:
        print("Leap Year")
    else:
        print("Not a Leap Year")

Enter a year: 2020

TypeError: 'int' object is not iterable

In [10]:
num=[24,56,98,56,55,44,33,77,97,90,21,15,71,60]
for i in num:
    if i % 2==0:
        print(i,"Even")
    else:
        print(i,"Odd")

24 Even
56 Even
98 Even
56 Even
55 Odd
44 Even
33 Odd
77 Odd
97 Odd
90 Even
21 Odd
15 Odd
71 Odd
60 Even

In [18]:
list=[2,44]
for p in list:
    if not p:
        print("Empty")
    else:
        print("Not Empty")

Not Empty
Not Empty

In [74]:
num=int(input("Enter your Marks:"))
for i in num:
    if i>=90:
        print("A")
    elif i>=80:
        print("B")
    elif i>=70:
        print("c")
    elif i>=60:
        print("D")
    elif i>=50:
        print("E")
    else:
        print("Fail")

Enter your Marks: 80

TypeError: 'int' object is not iterable

In [114]:
word=input("Enter a word:")
for name in word:
   if word==word[::-1]:
       print(" Palindrome")
   else:
       print("Not Palindrome")

Enter a word: Pasha

Not Palindrome
Not Palindrome
Not Palindrome
Not Palindrome
Not Palindrome

In [116]:
a=45
b=30
c=56
for i in a:
    for j in b:
        for k in c:
            if i<=j and i<=k:
                print("i is Small")
            elif j<=i and j<=k:
                print("j is Small")
            else:
                print("k is Small")

TypeError: 'int' object is not iterable

In [144]:
num=[23,46,56,8,99,25,78,94,98]
large=max(num)
for i in num:
     if num.remove(large):
        print("remove")
     elif second==max(num):
        print("second large num",sec)

NameError: name 'second' is not defined

In [146]:
i=float(input("enter weight in Kg"))
j=float(input("enter height in meters"))
bmi =i/(j**2)
for a in bmi:
    if a<18.5:
        print("Under weight")
    elif a>=18.5 and a<=24.9:
        print("Normal weight")
    else:
        print("Over weight")

enter weight in Kg 45
enter height in meters 6.2

TypeError: 'float' object is not iterable

In [156]:
num=[23,46,8,9,55,44,45,34,16,32,22]
for i in num:
    if i>=18:
        print(i,"Eligible")
    else:
        print(i,"Not Eligible")

23 Eligible
46 Eligible
8 Not Eligible
9 Not Eligible
55 Eligible
44 Eligible
45 Eligible
34 Eligible
16 Not Eligible
32 Eligible
22 Eligible

In [150]:
num=int(input("enter your age:"))
for age in num:
    if age<=22:
        print("School")
    elif age>=22 and age<=50:
        print("Work")
    else:
        print("Reatir")

enter your age: 23

TypeError: 'int' object is not iterable

In [158]:
num=[23,56,78,90,45,12,56,17,18,30]
for age in num:
    if age<=22:
        print(age,"School")
    elif age>=22 and age<=50:
        print(age,"Work")
    else:
        print(age,"Reatir")

23 Work
56 Reatir
78 Reatir
90 Reatir
45 Work
12 School
56 Reatir
17 School
18 School
30 Work

In [162]:
num=[1900,2020,2022,1989,2045,1200,3400,1955,1999]
for i in num:
    if i % 4==0:
        print(i,"Leap Year")
    else:
        print(i,"Not a Leap Year")

1900 Leap Year
2020 Leap Year
2022 Not a Leap Year
1989 Not a Leap Year
2045 Not a Leap Year
1200 Leap Year
3400 Leap Year
1955 Not a Leap Year
1999 Not a Leap Year