## About String

- Combination of Group of Characters is called String
- It is represented by ' '," ","' "' Quotetains.
- It is Mutable(Changeable)

### Example

In [4]:
str='pasha'
print(str)

pasha

In [54]:
str="PASH"
print(str)

PASH

## String Operators

### Concatenation

- It is used for Adding of string

### Example

In [12]:
str1="Name"
str2="PASHA"
out=str1+" "+str2
print(out)

Name PASHA

In [14]:
str1="Name"
str2="PASHA"
out=str1+str2
print(out)

NamePASHA

## Repetition

- It is used for Multipication

### Example

In [49]:
name="Name Pasha.\n"
out=name*5
print(out)

Name Pasha.
Name Pasha.
Name Pasha.
Name Pasha.
Name Pasha.

In [51]:
str="Data Science"
out=str*20
print(out)

Data ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData ScienceData Science

## 10 Examples

In [61]:
str1='weather is too hot today'
str2='my negative place is chilakaluripet'
str3='your looking beautyful'
str4='sunday is a holiday'
str5='I completed by my btech in ECE Department'
str6="Diwali is Comming soon"
str7="I  use social media daily"
str8="I have Many Friends"
str9="I love Cricket"
str10="Btech is most memarable in life"
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(str6)
print(str7)
print(str8)
print(str9)
print(str10)

weather is too hot today
my negative place is chilakaluripet
your looking beautyful
sunday is a holiday
I completed by my btech in ECE Department
Diwali is Comming soon
I  use social media daily
I have Many Friends
I love Cricket
Btech is most memarable in life

## Slicing

In [128]:
str="welcome to Hyderabad and Join Tesk Academy it Transferring Experts Knowledge to Studentsd"
print(str[0:20])
print(str[11:43])
print(str[0:])
print(str[ :76])
print(str[-78:-13])
print(str[:-1])
print(str[-89:])
print(str[-59:-12])

welcome to Hyderabad
Hyderabad and Join Tesk Academy
welcome to Hyderabad and Join Tesk Academy it Transferring Experts Knowledge to Studentsd
welcome to Hyderabad and Join Tesk Academy it Transferring Experts Knowledge
Hyderabad and Join Tesk Academy it Transferring Experts Knowledge
welcome to Hyderabad and Join Tesk Academy it Transferring Experts Knowledge to Students
welcome to Hyderabad and Join Tesk Academy it Transferring Experts Knowledge to Studentsd
Tesk Academy it Transferring Experts Knowledge

## String Format

In [7]:
name="PASHA"
age=23
str="My Name is %s and i am %d years old."%(name,age)
print(str)

My Name is PASHA and i am 23 years old.

### Format Method

In [10]:
name="Pasha"
age=23
str="My name is {} and iam {} years old.".format(name,age)
print(str)

My name is Pasha and iam 23 years old.

### F-string

In [15]:
name="pasha"
age=23
location="Chilakaluripet"
str='my name is {name} and iam {} years oid i from{location}.'
print(str)

my name is {name} and iam {} years oid i from{location}.

## String Methods

### Length

- It is used to count the length of the Characters

In [28]:
str="my negative place is chilakaluripet"
length=len(str)
print(length)

35

### Lower and Upper

In [33]:
str="My Negative place is Chilakaluripet"
print(str.lower())

my negative place is chilakaluripet

In [35]:
str="My Negative place is Chilakaluripet"
print(str.upper())

MY NEGATIVE PLACE IS CHILAKALURIPET

### Strip

In [38]:
str="    My Negative place is Chilakaluripet      "
print(str.strip())

My Negative place is Chilakaluripet

In [40]:
str='                  PASHA                      '
print(str.strip())

PASHA

### Replace

In [43]:
str="My Negative place is Chilakaluripet"
out=str.replace("Chilakaluripet","Guntur")
print(out)

My Negative place is Guntur

### Split

In [46]:
str="My Negative place is Chilakaluripet"
out=str.split()
print(out)

['My', 'Negative', 'place', 'is', 'Chilakaluripet']

In [49]:
str1='weather is too hot today'
out=str1.split()
print(out)

['weather', 'is', 'too', 'hot', 'today']

### Join

In [86]:
str='sunday is a holiday '
joined_string=''.join(str)
print(joined_string)

sunday is a holiday

In [88]:
str='sunday is a holiday '
joined_string='     '.join(str)
print(joined_string)

s     u     n     d     a     y           i     s           a           h     o     l     i     d     a     y