### What is Python and why is it popular?

- Python is a programming language and it is interpreted and high level languge.
- It is simplicity and readability.
- It is Widely used for a variety of Applications and used for web development and also used for analysis and mechain learning
- It is used for developing websites and software.

### What is an IDE nad name a few popular IDE'S?

- It is a software application which is used to develop software tools it includes code edittor,debugger and compilar.
- visual studio
- pycharm
- eclipse

### What are the rules for naming the variariable in python?

- Variables can written in alpha,numaric structure.
- Variable can not start with special character except under score.
- Variable can not start with any Digits.
- Variable can not start with any Keywords.
- Variables are case sensitive.

### How do you assign multi value to multiple variable in single

In [17]:
i,j,k=10,20,30
print(i)
print(j)
print(k)

10
20
30

- By taking any three integers which are seperated by a comma.

### Can you use python keywords as variable names ? why or why not?

- We cant use key words as variable name because it gets syntax Error.

### Why are comments important in programing?

- To Explan about a programm it is represent by(\\).

### What are basic data types

- integer
- float
- boolean
- complex

### Difference between in int and float

- integer consisting of both +ve and -ve numbers and 0
- float is consisting +ve and -ve with decimal point.

### How do chect data type for a variable

- By using type funcition

In [3]:
a =34
print(type(a))

<class 'int'>

### How do we add element to list

- By using append we can add elements in alist.

In [7]:
a=[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

### How do we creat tuple with one element?

In [11]:
name=('pasha',)
print(type(name))

<class 'tuple'>

### How do we access a value in dictionary using a key

- By a value is equal  dictionary key we can access a value in dictionary using a key

In [14]:
a={'fruit':'apple'}
print(type(a))

<class 'dict'>

### How we add key value pair

- By using dictinary key equal to any value we can add key value pair.

In [62]:
a={'name':'pasha'}
b={'name':'ramu'}
a.update(b)
print(b)

{'name': 'ramu'}

### How do we add element to aset

In [50]:
a ={1,2,3,4,5,6}
b ={3}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

### How do we remove eiement from a set

In [53]:
a={1,2,3,4,5,6}
a.remove(2)
print(a)

{1, 3, 4, 5, 6}

### What are common set operators

In [56]:
a={1,2,3,4,56,6,7,}
b={3,5,1,2}
print(a&b)

{1, 2, 3}

### To find an index of an element is tuple

In [59]:
a=('name','pasha')
print(type(a))

<class 'tuple'>